<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindos ao meu Blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est porro illo ad corporis voluptate aspernatur cupiditate asperiores, tempore esse beatae similique deserunt aliquam velit temporibus minima cumque impedit soluta explicabo?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis. Nisi non quos asperiores, doloribus incidunt, unde obcaecati labore, architecto ab eum magnam voluptatibus eos inventore tempore impedit debitis? Facilis.

            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>
